<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>Welcome to WebSoulLabs</h1>
      <h2>We are team of talanted Developers making websites and mobile applications for your Business Solutions</h2>
      
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

       
          <div class="col-xl-10 col-lg-9 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">


                <div class="col-xl-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Strong Relationships</h4>
                    <p>We believe it is always about the people in Business. In the end it is not about the money you make but the people you
                    have met, the beautiful connections you have created.
</p>
                  </div>
                </div>



                
                <div class="col-xl-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-3 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Strong Relationships</h4>
                    <p>We believe it is always about the people in Business. In the end it is not about the money you make but the people you
                    have met, the beautiful connections you have created.
</p>
                  </div>
                </div>


                <div class="col-xl-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-3 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Strong Relationships</h4>
                    <p>We believe it is always about the people in Business. In the end it is not about the money you make but the people you
                    have met, the beautiful connections you have created.
</p>
                  </div>
                </div>


                <div class="col-xl-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-3 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Strong Relationships</h4>
                    <p>We believe it is always about the people in Business. In the end it is not about the money you make but the people you
                    have met, the beautiful connections you have created.
</p>
                  </div>
                </div>


             
            </div>
          </div>
        </div>

      </div>
    </section>
      
