 <section id="about" class="about section-bg">
      <div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h4 data-aos="fade-up">About us</h4>
            <h3 data-aos="fade-up">We love to build</h3>
            <p data-aos="fade-up">We specialize in building web and mobile applications to make your life easier.</p>

            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="#">User Friendly Approach</a></h4>
              <p class="description">The Web and Mobile Applications we develop our always user centric. These are developed in such a manner that they are
              simple yet sophisticated. The end user plays a key role in determining the outlook of our work.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="#">EFFICIENT CODING</a></h4>
              <p class="description">We believe in using the best coding practices in the market to make our applications stand out. The applications we
              build for you deserve the best code. For this, we make sure our coding standard is clean and efficient.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="#">MUTUAL GROWTH AND DEVELOPMENT</a></h4>
              <p class="description">We focus on delivering exceptional quality and high professional solutions in the work we do. We aim at providing cost
              effective web and mobile application development services and thus achieving mutual growth for our clients, employees,
              vendors and the organization.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

